<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>giggle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

    {{> navbar}}
    <p id = "validateM">{{validate}}</p>
    <form id="groupForm" class="wrapper" action = '/camps/create' method = 'post'>
        <input type = "text" name = "name" placeholder = "Enter Camp Name (required)" class="nameField" required>
        <input type = "text" name = "subject" placeholder = "Mention Subject (required)" class= "subjectField" required>
        <input type = "text" name = "about" placeholder = "Add some Description" class= "aboutField">
        <input type = "text" name = "hashtags" placeholder = "#Hashtags help to find the Camp Easily" class= "tagsField">
        <input type="submit" form="groupForm" value="AddGroup" class="dashboardButton">            
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
    <script src ="/js/upload.js"></script>
      
</body>
</html>