<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <form id="groupForm" class="wrapper" action = '/admins/dashboard' method = 'post'>
        <input type = "text" name = "name" placeholder = "Enter Camp Name" class="nameField" required>
        <input type = "text" name = "subject" placeholder = "What is the Camp all about?" class= "subjectField" required>
        <input type = "text" name = "about" placeholder = "Add some Description" class= "aboutField">
        <input type = "text" name = "hashtags" placeholder = "#Hashtags help to find the Camp Easily" class= "tagsField">
        <button class="btn btn-lg upload-btn" type="button" >Upload File</button>
        <input type="file" name="upload" id="upload-input" style="display:none">
        <input type="submit" form="groupForm" value="AddGroup" class="dashboardButton">            
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
    <script src ="/js/upload.js"></script>
      
</body>
</html>