<!DOCTYPE html>
<html>
    <head>
        <title>error occurred</title>
     <link rel="stylesheet" href="/css/style.css">  
     <link rel="stylesheet" href="/css/newnav.css">      
     <link rel="icon" href="/img/logo.png">
    </head>
    <body>
        {{> navbar}}

        <div class="main-content"> 
            
            <h1>{{status}}</h1>
            <br>
            </div>
            <br>
            <h4>{{message}}</h4>
            
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
