<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>error occurred</title>
        <link rel="icon" href="../../utils/img/errorW.png">    
    </head>
    <body>
        {{> navbar}}

        <div class="main-content"> 
            
            <h1>{{status}}</h1>
            <br>
            </div>
            <br>
            <h4>{{message}}</h4>
            
        </div>

        
    </body>
    <script src = "../../helpers/message-loader.js"></script>
</html>
