 <!DOCTYPE html>
<head>
    <title>giggle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>


<body>
{{> navbar}}
<div class="main-content">
    <div class = "notify">
    {{>messages}}
    </div>
    <div class="recentDirects">
        {{#each recentDirects}}
            <div class="recentChatBlock">
                <div class="friendUsername"> {{this.friendUsername}} </div>
                <div class="timestamp">
                    <div class="directDate"> {{this.showDate}} </div>
                    <div class="directTime"> {{this.showTime}} </div>
                </div>
            </div>
        {{/each}}
    </div>
</div> 
<p style="display: none;" id = "myUsername">{{username}}</p>

<div class="footer">
    <form action="/logoutAll" method='post'>
        <input type='submit' value='Logout of All Devices' class="action-btn">
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script src = "/js/directLinker.js" type="module"></script>        
<script src = "/js/recentChatLinker.js" type="module"></script>        

</body>
</html>