<!DOCTYPE html>
<head>
    <title>home</title>>
</head>
<body>
<div class = "notify">
{{>messages}}
</div>
{{test}}- {{base}}
<form action="/logout" method='post'>
       <input type='submit' value='Logout'>
       </form>
       <br>
       <form action="/logoutAll" method='post'>
       <input type='submit' value='LogoutAll'>
       </form>
       </div>
</body>
<script src = "../../helpers/message-loader.js"></script>
</html>