<!DOCTYPE html>
<head>
    <title>
        index
        </title>
</head>
<body>
<div class = "notify">
{{>messages}}
</div>
{{test}}
</body>
<script src = "../../helpers/message-loader.js"></script>
</html>