<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        
        <title>Giggle</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class= "header">
        <h1>Login</h1>
        </div>
        <div class="main-content">
                <br>
                <form id="loginForm" method ="POST" action = "{{goto}}">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" required  autocomplete="off" ><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" required  autocomplete="off" ><br>
                    <input type="submit" form="loginForm" value="Login">
                </form>
                
                <br>
        </div>    
    </body>
</html>
