<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>giggle</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>


    <body>
        
        {{> navbar}}

        
       <div id="myCampsList"> 

            {{#each camps}}
            <div class= "myCampsLoopBlock">
                <h3 class = "campName">{{this.name}}</h3>
                <h4 class = "campSubject">{{this.subject}}</h4>
                <h4 class = "campAbout">{{this.about}}</h4>
                <button class="deleteCampBtn btn btn-lg btn-primary" onclick="deleteCamp(this)">Delete Camp</button>
            </div>
            {{/each}}

        </div> 

        <p class = "messageN"></p>
        <a style="display: none;" id="anchorToFriendsPage" href="/friends"></a>
        <p style="display: none;" id = "myUsername">{{myUsername}}</p>
        <br>
        

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script src="/js/deleteCamp.js"></script>

           
    </body>


</html>
