<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>giggle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/direct.css">
</head>

<body>

<script id = "chatTemplate" type="template">
    <li class="chatItem">
        <div class="chatHead">
            <div class="chatImg">
                <img src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_1280.png" class="img-circle" height="50px" width="50px" alt="">
            </div>
        </div>
        <div class="chatBody">
            <div class="chatName">
                <b>!!%!!=usernameClient=!!%!!</b>
            </div>
            <div class="chatText">!!%!!=textClient=!!%!!</div>
        </div>
    </li>
</script>                            


{{>navbar}}

<div class="container">
    <div class="auxOptions">
     
     <div class="currentChatFriend">
        <div class="card">                
            <div class="infoImg">
                <img src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_1280.png" class="img-circle" height="100px" width="100px" alt="">
            </div>
            <h3 class="username">{{fName}}</h3>
        </div>
        <div class="infoTxt">
            <h4 class="fullname">{{fFullname}}</h4>            
            <p class="about">{{fAbout}}</p>
        </div>
     </div>
     
     <div class="moreFriends">
         
        {{#each friendsList}}
            <p><button onclick="directChatLinkage(this)" class="directChatLinkerBtn">{{this}}</button></p>
        {{/each}}

     </div>
    
    </div> 

    <div class="mainOptions">

     
    <ul id="messages" class="messageContent">            
        <li><ul class="savedMessages"></ul></li>                       
        <li><ul class="newMessages"></ul></li>                    
    </ul>
     

     <div class="sendMessage">
            <textarea name="message" id="msg" placeholder="Type your message here"></textarea>
            <button id="send-message" class="action-btn"> Send </button>
     </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js" integrity="sha512-vGcPDqyonHb0c11UofnOKdSAt5zYRpKI4ow+v6hat4i96b7nHSn8PQyk0sT5L9RECyksp+SztCPP6bqeeGaRKg==" crossorigin="anonymous"></script>

<script src="/js/deparam.js"></script>
<script src="/js/private/directCS.js"></script>
<script src="/js/directChatLinker.js"></script>

</body>
</html>
