<!DOCTYPE html>
<html>
<head>

    <title>giggle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
<div class = "notify">
{{>messages}}

<div id="main" class="registerMain">
    <div class="main">
        <form action="/signup" method="post">
            
          {{#if hasErrors}}
                <div class="alert alert-danger text-center">
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   <ul>
                   {{#each ab}}
                       <li>{{Errors}}</li><br>
                   {{/each}}
                   </ul>>    
                </div>
            {{/if}}

            <div class="inset">
                <p>
                  <label for="username">USERNAME</label>
                  <input type="text" name="username" class="" placeholder="unique username" autocomplete="off" >
                </p>
                
                <p>
                  <label for="fullname">NAME</label>
                  <input type="text" name="fullname" class="" placeholder="enter full name" autocomplete="off" >
                </p>

                <p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="unique email" autocomplete="off" />
                </p>
                <p>
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="atleast 8 letters"  autocomplete="off" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="" style="color:white;padding-left:10px;padding-right:10px">|</a></span>
                <span><a href="/login">Login</a></span>
                <input type="submit" class="login-log" style=" background: rgba(26, 163, 111, 0.788); border: rgba(26, 163, 111, 0.788);" value="Register">
            </p>
        </form>
    </div>
</div>

</body>

<script src = "../../helpers/message-loader.js"></script>
</html>