<!DOCTYPE html>
<html>
<head>

    <title>giggle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

<div class="main-content">
    
    <div class = "notify">
    {{>messages}}
    </div>

    <div id="main" class="mainWrapper">
        
        <div class="loginWrapper">
            
            <h2 class="mainHead">Register</h2>

            <form action="/signup" method="post" class="formMain">
                
                <div id="errorsSignup"> 
                    {{#if hasErrors}}
                        <div class="alert alert-danger text-center">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul>
                        {{#each ab}}
                            <li>{{Errors}}</li><br>
                        {{/each}}
                        </ul>>    
                        </div>
                    {{/if}}
                </div>

                <div class="lib">
                    <label for="username">USERNAME</label>
                    <input type="text" name="username" class="" placeholder="unique username" autocomplete="off" >
                </div>
                
                <div class="lib">
                    <label for="fullname">NAME</label>
                    <input type="text" name="fullname" class="" placeholder="enter full name" autocomplete="off" >
                </div>

                <div class="lib">
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="unique email" autocomplete="off" />
                </div>
                <div class="lib">
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="atleast 8 letters"  autocomplete="off" />
                </div>
                
                <input type="submit" class="action-btn" value="Register" id="register-btn">
                
            </form>
        <div id="loginFromSignupPage">Already have an account? <button class="action-btn" id="login-btn"><a href="/login"> Login </a></button></div>
        </div>
    </div>
</div>
   
</body>
</html>