<!DOCTYPE html>
<html>
    <head>
        <script rel="javascript" src="/js/reload_on_back.js"></script>        
        <title>giggle</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{> navbar}}
        <div class="main-content">
            <div class= "name">
            <h1>Hi, {{username}}</h1>
            </div>
            <div class= "statusMessage">
                <h4>{{message}}</h4>
            </div>
            <br>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
