<!DOCTYPE html>
<html>
    <head>
     <title>giggle</title>
     <link rel="icon" href="/img/logo.png">
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/update.css">
    </head>
    <body>
        
        {{> navbar}}
        
    {{!-- <form id="theImageForm" action = "/profile/avatar" method = "post" enctype="multipart/form-data">
        <label for="theImageField" id="theImageContainer">
            <input type="file" id="theImageField" accept="image/png, image/jpeg" name="avatar">
            <p>Click here to Upload an Image, Select Image and then Click Upload to Set new Profile Picture </p>
        </label>
        <button class="action-btn" type="submit">Update Profile Picture</button>
        <button><a href="/profile/avatar/delete" id="clearImage" method = "get">Remove</a></button>
    </form> --}}
    
        <div class="main-content">
            <h4 class="constMessage">Fill Those Fields which are required to be updated and Leave others blank</h4>
                
                <form id="updateForm" method ="post" action = {{goto}}>
                    
                    <div class="lib">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id="email" ><br>
                    </div>
                    <div class="lib">
                        <label for="fullname">Name</label><br>
                        <input type="text" name="fullname" id="fullname" ><br>
                    </div>
                    <div class="lib">
                        <label for="about">About</label><br>
                        <input type="text" name="about" id="about" ><br>
                    </div>
                    <div class="lib">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" minlength=8 ><br>
                    </div>
                    <input type="submit" form="updateForm" id="submit" class="action-btn" value="Submit">
                </form>
                
                <br>
        </div> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
