<navbar>
<div class="page">
  <nav class="custom menu">
    <ul class="nav-links r-list">
      <li class="group"><a href="/home" class="navlink r-link group-style">Recent Chats</a></li>
      <li class="group"><a href="/friends" class="navlink r-link group-style">Friends</a></li>
      <li class="group"><a href="/findUser" class="navlink r-link group-style">Find People</a></li>
      <li class="group"><a href="/loadFriendRequests" class="navlink r-link group-style">Friend Requests</a></li>
      <li class="group"><a href="/profile" class="navlink r-link group-style">My Profile</a></li>
      <li class="group"><a href="/logout" class="navlink r-link group-style">Logout</a></li>
    </ul>
  </nav>
</div>
</navbar>