<navbar>
<nav class="navbar navbar-default">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">giggle</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/friends">Friends</a></li>
        <li><a href="/findUser">Find People</a></li> 
        <li><a href="/loadFriendRequests">Friend Requests</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/logout"><b>Logout</b></a></li>
      </ul>
    </div>
  
</nav>
</navbar>