<navbar>
<nav class="navbar">
  
    <div class="navbar-header">
      <button class="navbar-collapse-btn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">giggle</a>
    </div>
    <div class="navbar-content">
      <ul class="nav-links">
        <li><a href="/friends">Friends</a></li>
        <li><a href="/findUser">Find People</a></li> 
        <li><a href="/loadFriendRequests">Friend Requests</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/logout"><b>Logout</b></a></li>
      </ul>
    </div>
  
</nav>
</navbar>