body {
    padding: 20px;
    font-family: Helvetica;
  }

  .wrapper {
    display: grid;
    grid-template: 2fr 2fr 2fr 1fr 1fr / 0.1fr auto 0.3fr auto 0.1fr;
    grid-template-areas: 
      ". n n n ."
      ". s s s ."
      ". d d d ."
      ". h h h ."
      ". . b . .";
    grid-gap: 5px;
    padding: 2px 2px 2px 2px;
  }

  .dashboardButton {
    color: rgb(6, 0, 27);
    grid-area: b;
    background-color: rgba(116, 252, 138, 0.7);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    width: fit-content;
    border-width: 1px;
    border-color: chartreuse;
   }

   .dashboardButton:hover{
    background-color: rgba(87, 238, 213, 0.7);;
   }




.nameField {  border: 1px solid #9b6565; padding: 5px; grid-area: n; }
.aboutField {  border: 1px solid #999999; padding: 5px; grid-area: d; }
.tagsField{ border: 1px solid #999999; padding: 5px; grid-area: h; }
.subjectField {  border: 1px solid #9b6565; padding: 5px; grid-area: s; }
