.container{
    height: 88vh;
    border : 1px solid black;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.auxOptions{
    border : 1px solid black;
    height: 100%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mainOptions{
    border : 1px solid black;
    width: 68%;
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.currentChatFriend{
    border : 1px solid black;
    min-height: 30%;
    width: 95%;
    margin: 5px 2.5% 5px 2.5%;
    padding: 5px 5px 5px 5px;
}


.moreFriends{
    border : 1px solid black;
    width: 95%;
    flex:1;
    overflow-y: scroll;
    margin: 5px 2.5% 5px 2.5%;
    padding: 5px 5px 5px 5px;
}

.card{
    border : 2px solid black;
}

.infoImg{
    border : 2px solid black;
}

.infoTxt{
    border : 2px solid rgb(109, 63, 63);
}

.infoTxt > .fullname{
    border : 2px solid black;
}

.infoTxt > .username{
    border : 2px solid black;
}

.infoTxt > .about{
    border : 2px solid black;
}


.directChatLinkerBtn{
    border : 2px solid black;
}


.messageContent{
    list-style: none;
    padding-left: 2px;
    flex: 1;
    overflow-y: scroll;
    width: 100%;
}

.savedMessages, .newMessages{
    list-style: none;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.sendMessage{
    min-height: 100px;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#msg{
    flex: 1;
    height: 100%;
    margin: 2px 0px 2px 2px;
}

#send-message{
    border : 2px solid black;
    height: 100%;
    margin: 2px 2px 2px 0px;
}


.chatItem{
    border : 2px solid black;
    background:cornsilk;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding : 2px 2px 2px 2px;
}
.chatImg{
    border : 2px solid black;
    width: 100%;
}
.chatBody{
    border : 2px solid black;
}
.chatName{
    border : 2px solid black;
}
.chatText{
    border : 2px solid black;
}