:root{
    --chatcontentcolor:rgba(235, 250, 247, 0.986);
    --sendchattextboxcolor:rgba(159, 231, 217, 0.588);
    --chattextcolor:black;
    --charbordercolor:#07e6c1;
    --sendbtncolor:#caf8edda;
    --directchatbackcolor:#060f0d94;
    --chatusernamecolor:rgb(0, 255, 170);
    --boxshadowshadedark1:#016e5c3d;
    --boxshadowshadedark2:#0257493d;
    --boxshadowshadeinset1:#02a080dc;
    --boxshadowshadeinset2:#0257493d;
    --cardcolor: rgb(53, 197, 166);
    
    
}

.container{
    height: 88vh;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.auxOptions{
    height: 100%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mainOptions{
    width: 68%;
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.currentChatFriend{
    min-height: 30%;
    width: 95%;
    margin: 0px 2.5% 5px 2.5%;
    color: var(--chatcontentcolor);
}

.moreFriends{
    width: 95%;
    flex:1;
    overflow-y: scroll;
    margin: 5px 2.5% 5px 2.5%;
    padding: 5px 5px 5px 5px;
    background: var(--backcolor);
    box-shadow: 1px 1px 2px 1px var(--boxshadowshadedark1),
                -1px -1px 3px 1px var(--boxshadowshadedark2);
    background-color: var(--directchatbackcolor);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.messageContent{
    
    list-style: none;
    padding-left: 2px;
    flex: 1;
    overflow-y: scroll;
    width: 100%;
    box-shadow: 1px 1px 2px 1px var(--boxshadowshadedark1),
                -1px -1px 3px 1px var(--boxshadowshadedark2);
    background-color: var(--directchatbackcolor);
}

.savedMessages, .newMessages{
    list-style: none;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.sendMessage{
    min-height: 100px;    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

#msg{
    flex: 1;
    height: 100%;
    margin: 2px 1px 2px 2px;
    background: var(--sendchattextboxcolor);
    box-shadow: 1px 1px 2px 1px var(--boxshadowshadedark1),
                -1px -1px 3px 1px var(--boxshadowshadedark2);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#send-message{
    box-shadow: 1px 1px 2px 1px var(--boxshadowshadedark1),
                -1px -1px 3px 1px var(--boxshadowshadedark2);
    height: 100%;
    margin: 2px 2px 2px 1px;
    background:var(--sendbtncolor);
}

#send-message:hover{
    cursor: pointer;
    background-color: var(--hovercolor);
}

.chatItem{
    padding : 2px 4px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 4px 0px 4px 0px;
    border-top-left-radius: 10px;
}

.chatHead{
    width : fit-content;
    text-align: center;
}

.chatBody{
    flex:1;
    margin: 2px;
    padding: 2px;
}

.chatImg{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 4px;
}
.chatName{
    background:var(--chatusernamecolor);
    color: var(--chattextcolor);
    width : fit-content;
    margin: 1px 1px 5px 1px;
    padding: 1px 5px 1px 5px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
}
.chatText{
    color: var(--chattextcolor);
    box-shadow: 1px 1px 5px 3px var(--chatbordercolor);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background:var(--chatcontentcolor);
    padding: 5px;
}


.card{    
    background: var(--cardcolor);
    margin-bottom: 5px;
    padding: 15px;
    box-shadow: 3px 3px 3px 6px var(--boxshadowshadeinset2)inset,
                -3px -3px 3px 3px var(--boxshadowshadeinset1) inset,
                1px 1px 2px 1px var(--boxshadowshadedark1),
                -1px -1px 3px 1px var(--boxshadowshadedark2);

    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card > .cardInfoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.card > .cardInfoWrapper > .username{
    margin: 1px 2px 1px 2px;
    text-align: center;
    min-height: 25px;
    background: var(--cardcolor);
    width: 100%;
    margin: 1px;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    font-size: 1.25em;
}

.card > .cardInfoWrapper > .infoImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4px;
    width:100%;
    height: 100%;
}

.card > .cardInfoWrapper > .infoImg > img{
    max-width: 100%;
    max-height: 100%;
    margin:0;
    padding:1px;
    display:block;
}

.infoTxt{
    text-align: center;   
    color: var(--chattextcolor);
}
.infoTxt > .fullname{
    min-height: 50px;
    font-size: 1.5em;
    margin: 3px;
    display: contents;
    align-items: center;
}
.infoTxt > .about{
    background: var(--cardcolor);
    margin: 5px;
}

.directChatLinkerBtn{
    border : 2px solid var(--chattextcolor);
    padding: 2px 4px 2px 4px;
    width: 90%;
    text-align: center;
    border-radius: 1rem;
    background: var(--cardcolor);
}

.directChatLinkerBtn:hover{
    cursor: pointer;
    background: var(--hovercolor);
}
.directChatLinkerBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
