 .findUser{
    display: grid;
    grid-template: 0.1fr 0.8fr 0.1fr/ 0.02fr auto 0.15fr 0.15fr auto 0.01fr auto 0.02fr;
    grid-template-areas:
        ". . . . . . . . . . . ."
        "i i i i i i i i i i b b"
        ". . . . . . . . . . . .";    
 }

 .findInput{
    grid-area: i;
    background-color: var(--inputtextbackcolor);
    text-align: center;
    font-size: 1.2em;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    height: 40px;
    margin: 2px 20px 2px 20px;
 }

 #searchByUsernameBtn{
    grid-area: b;
    height: 40px;
    width:auto;
    font-size: 1.2em;
    margin: 2px 20px 2px 20px;
 }


#sResults{
    display: grid;
    grid-template: 0.1fr 0.2fr 0.4fr 0.2fr 0.1fr/ 0.2fr auto 0.2fr;
    grid-template-areas: 
        ". . ."
        ". u ."
        ". f ."
        ". a ."
        ". . ."; 
        
}

 #un{
    grid-area: u;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.4em;
    background-color: var(--lightbackcolor);
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 7px;
    border-radius: 3px;
 }

 #fn{
    grid-area: f;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
 }

 #ab{
    grid-area: a;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

 #friendRequest{
     display: grid;
     grid-template: 0.2fr 0.8fr / 0.2fr auto 0.2fr;
     grid-template-areas: 
        ". m ."
        ". s .";
 }

 #identifier{
    grid-area: m;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

 #addFriendBtn{
    grid-area: s;
    margin-left: auto;
    margin-right: auto;
 } 