#punyJudge{
    padding-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.friendUserName{
    font-size: 1em;
    background-color: rgb(175, 252, 209);
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 7px;
    border-radius: 3px;
 }
 #friendsList{
    margin-left: 5%;
    margin-right: 5%;
 }
.friendsLoopBlock{
    background-color: rgb(191, 236, 218);
    padding: 0px 5px 10px 5px; 
    margin-bottom: 2%;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 