#myCampsList{
    margin-left: 5%;
    margin-right: 5%;
}
.myCampsLoopBlock{
    background-color: rgb(191, 236, 218);
    padding: 0px 5px 10px 5px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 
.campSubject{
    background-color: rgb(80, 139, 3);
    color: rgb(219, 253, 235);
    width: fit-content;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}