  .r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }
  
  
  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }
  
  .navlink{
    display: var(--menuLinkDisplay, block);
  }
  
  
  .navlink:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }
    
  .menu:hover .navlink:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
  }
  

  .menu{
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }
  
  .nav-links{
    display: flex;  
  }
  
  .navlink{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .group-style{
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .group-style::before, 
  .group-style::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .group-style::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .group-style::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .group-style:hover::before, 
  .group-style:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  
  .page{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;  
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-left: .4rem;
    padding-right: .4rem;
  }
  
  .custom{
    --menuBackgroundColor: #09b8a0;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: #241c69;
    --menuLinkOutlineOffset: -.5rem; 
  }
  