.notify{
    box-shadow: 1px 1px 2px 1px #016e5c3d;
}

.mainWrapper{
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#register-btn{
    font-size: 1.5em;
    padding: 10px;
}

.loginWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.mainHead{    
    font-size: 2em;
    background-color: cadetblue;
    box-shadow: 1px 1px 2px 1px #016e5c3d,
                -1px -1px 3px 1px #0257493d;
    color:cornsilk;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 3px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.formMain{
    flex: 1;
    width: 80%;
    background:rgba(99, 192, 145, 0.918);
    box-shadow: 1px 1px 2px 1px #016e5c3d,
                -1px -1px 3px 1px #0257493d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90%;
}

.lib{
    min-height: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lib > label{
    height: fit-content;
    font-size: 1.3em;
    background-color: #caf8ed;
    box-shadow: 1px 1px 2px 1px #016e5c3d,
                -1px -1px 3px 1px #0257493d;
    color:black;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
}

.lib > input {
    min-height: 25%;
    height: fit-content;
    font-size: 1.3em;
    background-color: #caf8ed;
    box-shadow: 1px 1px 2px 1px #016e5c3d,
                -1px -1px 3px 1px #0257493d;
    color:black;
    padding: 3px 10px 3px 10px;
    margin: 2px 5px 2px 5px;
}

#loginFromSignupPage{
    background-color: rgba(99, 192, 145, 0.918);
    font-size: 1.5em;
    padding: 5px;
    margin-top: 20px;
}

#login-btn-link{
    font-size: 1em;
    margin: 5px;
}