.registerMain{
    padding: 5% 10% 4px 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
}  

.outHead, .inset{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.outHead{
    background-color: rgb(3, 173, 12);
    color: azure; 
    padding: 2px 8px 2px 8px;
    border-radius: 6px;
}

.insetObject{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}