body {
    font-size: 16px;
    line-height: 1.42857143;
    color: rgb(22, 21, 21);
    background: rgba(99, 192, 145, 0.918);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
} 

.navbar{
    background-color: rgba(99, 192, 145, 0.918);
    margin-left: 15%;
    margin-right: 15%;
    width: 70%; 
    border: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.navbar-default .navbar-brand{
    color: #ffffff;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
    width: auto;
}
.navbar-default .navbar-brand:hover{
    color: #022413a1 ;
}

#bs-example-navbar-collapse-1{
    width: 80%;
    margin-right: auto;
}

.navbar-default .navbar-nav > li > a{
    color: #fff ;
    background-color: rgba(26, 163, 111, 0.788) ;
    font-size: 100%;
    font-weight: bold;
    width: auto;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(7, 116, 63) ;
    background-color:rgba(154, 230, 199, 0.788) ;
}

.main-content{
    background-color: #caf8ed;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 1em;
}

.action-btn{
    background-color: rgba(116, 252, 138, 0.7);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    width: fit-content;
    border-width: 1px;
    border-color: chartreuse;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
}

.action-btn:hover{
    background-color: rgba(87, 238, 213, 0.7);
    cursor: pointer;
}

.notify{
    padding: 4px 4px 4px 4px;
    margin: 2px 0px 2px 0px;
    background-color: rgb(204, 250, 235);
}

.outHead, .inset{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.outHead{
    background-color: rgb(3, 173, 12);
    color: azure; 
    padding: 2px 8px 2px 8px;
    border-radius: 6px;
}

.outLabel{
    font-weight: bold;
    background-color: rgb(3, 173, 12);
    padding: 2px 4px 2px 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: auto;
    color: azure;
    border-radius: 4px;
}


/* 
#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}

#custom-search-input .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}

#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.card {
    background: none repeat scroll 0 0 #dbcfcf;
    border-radius: 4px;
    color: #444444;
}


.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.new-search-bar {
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 52px;
    font-size: 17px;
    border: 1px;
}

.input-btn {
    background: rgba(47, 168, 122, 0.788);
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    padding-left: 23px;
    padding-right: 23px;
    border: none;
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-shadow:none;
    color:white !important;
}

.search-style {
    width: 50%;
    margin: 0 auto;
}

.add-apply{
    background: rgba(47, 168, 122, 0.788);
    width: 100%;
    text-shadow: none;
    color: #ffffff !important;
    margin-top: 25px;
    font-weight: bold;
}

.add-fav{
    background: rgba(47, 168, 122, 0.788);
    width: 100%;
    text-shadow: none;
    color: #ffffff !important;
    font-weight: bold; 
    padding: 5px 2px 5px 2px;
}


.nav-label-icon {
    top: -9px;
    position: relative;
    background: red;
    padding: 2px;
}

.nav-glyphicon {
    padding-right: 4px;
    position: relative;
    top: 2px;
}

.dropdown-tag-head {
    color: white;
    padding-top: 7px;
    margin-top: 0px;
    font-size: 17px;
}

.dmenu {
    padding-top: 0px !important;
}

.dropdown-tag {
    background: rgba(93, 160, 134, 0.788);
    color: white;
    padding: 4px;
    margin-bottom: 15px;
}

.navbar-login {
    width: 305px;
    padding-bottom: 30px;
    padding-top: 0px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.drop-name {
    margin-bottom: 0px;
}

.dropdown-divider {
    margin-top: 5px !important;
    margin-bottom: 14px !important;
}

.drop-accept {
    background: rgba(47, 168, 122, 0.788) !important;
    border: rgba(93, 160, 134, 0.788);
    color: white !important;
    text-shadow: none;
}

#reload{
    padding: 0px 15px 0px 15px;
}

.thumb_nail{
    height: 250px;
    padding-top: 20px;
}

.dropdown-img{
    width: 40px;
    height: 40px;
} */
